body {
    background: url('https://media.istockphoto.com/id/1325195247/photo/abstract-curve-and-wave-on-navy-blue-illustration-background.jpg?b=1&s=170667a&w=0&k=20&c=yyyCag_ZhD8wB4Syrddr676JFfRGIzINpDeCpabnVG4=');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    

}



form {
    width: 284px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #2e79ba;
    background: color #081f37;;
    box-shadow: 10px 10px 5px white;
    display: flex;
    flex: 1;

  
  }


footer{
  text-align: center;
    color:    #081f37; 
    font-family: Arial, sans-serif;
}


.navigacija {
  
    
    font-family: Arial, sans-serif;
    background-color: #2e79ba;
    padding: 10px 0px 10px 10px;
    opacity: 1;
    overflow: hidden;
    border: 13px solid  #081f37;
    display: flex;
    background-image: url('https://media.istockphoto.com/id/1325195247/photo/abstract-curve-and-wave-on-navy-blue-illustration-background.jpg?b=1&s=170667a&w=0&k=20&c=yyyCag_ZhD8wB4Syrddr676JFfRGIzINpDeCpabnVG4=');
    border: 4px solid white ;
    flex: 1;
}

.navigacija a {
    background-image: url('');
	color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    float: left;
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    display: flex;
}

.like{
  color: white;
}

      /* Prva stranica-podjela */
        
        .Prvi {
            width: 284px;
            padding: 10px 10px 20px 10px;
            border: 1px solid rgb(202, 199, 199);
            background-color:#081f37;
            box-shadow: 10px 10px 10px 10px #aaaaaa;
        opacity: 0.8;
        flex-wrap: wrap;
        display: flex;
        height: 470px;
        background-color:rgb(255, 255, 255);

        width: 60%;
        float: left;
        
        margin-left: 1%;
        margin-right: 1%;
        font-size: large;
        font-weight: 300;
       
        padding: 1%;
        margin-top: 1%;
        margin-bottom: 1%;
       
	
        font-family: Geneva,Tahoma,Verdana,sans-serif; 
        text-align: justify;
        
        }
        .picture{
          display: flex;
            max-width: 100%;
    
        }
    
        .Drugi {

          background: url('https://hips.hearstapps.com/esquireuk.cdnds.net/16/46/1600x1724/gallery-1479135377-rickygervais.jpg?resize=480:*');
          background-repeat: no-repeat;
          background-size: cover;
          display: flex;
      height: 470px;
      background-color:white;
      flex-wrap: wrap;
      width: 284px;
      padding: 10px 10px 20px 10px;
      border: 1px solid white;
      background-color:#081f37;
      box-shadow: 5px 10px 10px #aaaaaa;
      width: 30%;
      float: left;
     
      margin-left: 1%;
      margin-right: 1%;
      font-size: large;
      line-height: 200px;
      padding: 1%;
      

      text-align: justify;
      font-family: Arial, Helvetica, sans-serif
      }

    


.button {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Open Sans Condensed', sans-serif;
}

div[class*=box] {
  height: 33.33%;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.button { background-color: #081f37; }


.button{
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.button {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}
.button {
  transition: all 0.3s;
}
.button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.button:hover span {
  letter-spacing: 2px;
}
.button:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.button:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}



  

  
  @keyframes animatedBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0px 300px;
    }
  }

  .naslov{
     
    font-family: Lucida Bright,Georgia,serif; 
    border: 13px solid  #081f37;
    border: 3px solid white;
    text-align: center;
    color:  white ;
    background-color: #1e549f;
    opacity: 1;
    background-image: url('https://media.istockphoto.com/id/1325195247/photo/abstract-curve-and-wave-on-navy-blue-illustration-background.jpg?b=1&s=170667a&w=0&k=20&c=yyyCag_ZhD8wB4Syrddr676JFfRGIzINpDeCpabnVG4=');
    
   
}

.Prvi1 {
  width: 284px;
  padding: 10px 10px 20px 10px;
  border: 1px solid white;
  background-color:rgb(34, 104, 50)3;
  box-shadow: 5px 10px 10px #aaaaaa;

display: flex;
flex-wrap: wrap;
height: 470px;
background-color:#8a0f0f;

width: 60%;
float: left;

margin-left: 1%;
margin-right: 1%;
font-size: large;
font-weight: 300;
color: white;
padding: 1%;
margin-top: 1%;
margin-bottom: 1%;


font-family: Geneva,Tahoma,Verdana,sans-serif; 
text-align: justify;

}
.picture{
display: flex;
  max-width: 100%;

}

.Drugi1 {

  background: url('https://hips.hearstapps.com/esquireuk.cdnds.net/16/46/1600x1724/gallery-1479135377-rickygervais.jpg?resize=480:*');
  display: flex;
  flex-wrap: wrap;
height: 470px;
background-color:white;

width: 284px;
padding: 10px 10px 20px 10px;
border: 1px solid white;
background-color:#081f37;
box-shadow: 5px 10px 10px #aaaaaa;

opacity:1;
width: 30%;
float: left;

margin-left: 1%;
margin-right: 1%;
font-size: large;
line-height: 200px;
padding: 1%;
margin-top: 1%;
margin-bottom: 1%;

text-align: justify;
font-family: Bradley Hand; 
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
      background-color: #F09A9D;
      /* Red */
  }

  .page {
      display: flex;
      flex-wrap: wrap;
  }

  .section {
      width: 100%;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .menu {
      background-color: #5995DA;
      height: 80px;
  }

  .header {
      background-color: PINK;
  }

  .content {
      background-color: #EAEDF0;
      height: 600px;
  }

  .sign-up {
      background-color: #D6E9FE;
  }

  .feature-1 {
      background-color: #F5CF8E;
  }

  .feature-2 {
      background-color: #F09A9D;
  }

  .feature-3 {
      background-color: #C8C6FA;
  }
}


  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: #1e549f;
        
    }
  
    .page {
        display: flex;
        flex-wrap: wrap;
    }
  
    .section {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
  
    .menu {
        background-color: #5995DA;
        height: 115px;
    }
  
    .header {
        background-color: #081f37;
    }
  
    .jedan {
        background-color:#081f37;
        height: 800px;
        color: white;
        text-align: justify;
        font-family: Arial, sans-serif;
        background-image: url('https://media.istockphoto.com/id/1325195247/photo/abstract-curve-and-wave-on-navy-blue-illustration-background.jpg?b=1&s=170667a&w=0&k=20&c=yyyCag_ZhD8wB4Syrddr676JFfRGIzINpDeCpabnVG4=');
        
    }
    .dva{
      background-color: #2e79ba;
      display: flex;
      flex: 1;
      color: white;
      text-align: center;
    }
  
    .sign-up {
        background-color: #081f37;
    }
  
    .feature-1 {
        background-color: #2e79ba;
    }
  
    .feature-2 {
        background-color: #1e549f;
    }
  
    .feature-3 {
        background-color: #081f37;
    }
  }
  
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    body {
        background-color: #081f37;
      
    }
  
    .page {
        display: flex;
        flex-wrap: wrap;
    }
  
    .section {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .menu {
        background-color:#1e549f;
        height: 115px;
    }
  
    .header {
        background-color:#081f37;
    }
  
    .jedan {
      background-color:#081f37;
      height: 800px;
      color: white;
      text-align: justify;
      font-family: Arial, sans-serif;
      background-image: url('https://media.istockphoto.com/id/1325195247/photo/abstract-curve-and-wave-on-navy-blue-illustration-background.jpg?b=1&s=170667a&w=0&k=20&c=yyyCag_ZhD8wB4Syrddr676JFfRGIzINpDeCpabnVG4=');
      
  }
    .sign-up {
        background-color: #D6E9FE;
    }
  
    .feature-1 {
        background-color: #5fc9f3;
    }
  
    .feature-2 {
        background-color:  #2e79ba;
    }
  
    .feature-3 {
        background-color:#1e549f;
    }
  }



  .naslov::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  .naslov:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
.naslov::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background-image: url('https://wallpaper.dog/large/10765266.jpg');
   
    z-index: -1;
    transition: transform .3s ease;
    opacity: 0.7;
  }

  
  
  

  .glavnidio {
    
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    
    }
    
    .Prvi {
        width: 284px;
        padding: 10px 10px 20px 10px;
        border: 1px solid rgb(202, 199, 199);
        box-shadow: 5px 10px 10px #1e549f;
    
    flex-wrap: wrap;
    display: flex;
    height: 600px;
    background-color:#081f37;

    width: 60%;
    float: left;
   
    margin-left: 1%;
    margin-right: 1%;
    font-size: large;
    font-weight: 300;
   
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
   

    font-family: Geneva,Tahoma,Verdana,sans-serif; 
    text-align: justify;
    
    }
    .picture{
      display: flex;
        max-width: 100%;

    }

    .Drugi {

        background: url('https://hips.hearstapps.com/esquireuk.cdnds.net/16/46/1600x1724/gallery-1479135377-rickygervais.jpg?resize=480:*');
        display: flex;
    height: 500px;
    background-color:white;
    flex-wrap: wrap;
    width: 284px;
    padding: 10px 10px 20px 10px;
    border: 1px solid white;
    background-color:#3c0303;
    box-shadow: 5px 10px 10px #aaaaaa;
   
    opacity:1;
    width: 30%;
    float: left;
   
    margin-left: 1%;
    margin-right: 1%;
    font-size: large;
    line-height: 200px;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;

    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    }



    .jedan::before {  
      transform: scaleX(0);
      transform-origin: bottom right;
    }
    
    .jedan:hover::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    
  .jedan::before {
      content: " ";
      display: block;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      inset: 0 0 0 0;
      background-image: url('https://wallpaper.dog/large/10765266.jpg');
     
      z-index: -1;
      transition: transform .3s ease;
      opacity: 0.7;
    }
  

    .dva2{
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTId74SbLTddZNmTIvyKd1NXTNSLjc09PkQLw&usqp=CAU');
    }



  /* Mobile Styles */
 @media only screen and (max-width: 400px) {
  body {
      background-color: #F09A9D;

  }

  .page {
      display: flex;
      flex-wrap: wrap;
  }

  .section {
      width: 100%;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .menu {
      background-color: #5995DA;
      height: 80px;
  }

  .header {
      background-color: PINK;
  }

  .content {
      background-color: #EAEDF0;
      height: 600px;
  }

  .sign-up {
      background-color: #D6E9FE;
  }

  .feature-1 {
      background-color: #F5CF8E;
  }

  .feature-2 {
      background-color: #F09A9D;
  }

  .feature-3 {
      background-color: #C8C6FA;
  }
}


  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: #1e549f;
        
    }
  
    .page {
        display: flex;
        flex-wrap: wrap;
    }
  
    .section {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
  
    .menu {
        background-color: #5995DA;
        height: 115px;
    }
  
    .header {
        background-color: #081f37;
    }
  
    .jedan {
        background-color:#081f37;
        height: 800px;
        color: white;
        text-align: justify;
        font-family: Arial, sans-serif;
        background-image: url('https://media.istockphoto.com/id/1325195247/photo/abstract-curve-and-wave-on-navy-blue-illustration-background.jpg?b=1&s=170667a&w=0&k=20&c=yyyCag_ZhD8wB4Syrddr676JFfRGIzINpDeCpabnVG4=');
        
    }
    .dva2{
      background-image: url('https://pbs.twimg.com/media/EVK9q_wU8AEyjQF.jpg');
      background-repeat: no-repeat;
      background-size: contain;
      height: 450px;
      
          }
  
          .tri2{
            background-color: #081f37;
            background-image: url('https://pbs.twimg.com/media/FTonMExXoAE-k71.jpg:large');
    background-repeat: no-repeat;
    background-size: contain;
    height: 280px;
        }
      
    .cetiri2 {
      
      background-color: #081f37;
      background-image: url('https://i.ytimg.com/vi/XAwU3Lyn--U/maxresdefault.jpg');
background-repeat: no-repeat;
background-size: contain;
height: 450px;
  }
  
   
  }
  
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    body {
        background-color: #081f37;
        
    }
  
    .page {
        display: flex;
        flex-wrap: wrap;
    }
  
    .section {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .menu {
        background-color:#1e549f;
        height: 115px;
    }
  
    .header {
        background-color:#081f37;
    }
  
    .dva2{
background-image: url('https://pbs.twimg.com/media/EVK9q_wU8AEyjQF.jpg');
background-repeat: no-repeat;
background-size: cover;
height: 550px;
    }
  
    .tri2{
        background-color: #D6E9FE;
        background-image: url('https://pbs.twimg.com/media/FTonMExXoAE-k71.jpg:large');
background-repeat: no-repeat;
background-size: cover;
height: 550px;
    }
  
    .cetiri2 {
      
        background-color: #5fc9f3;
        background-image: url('https://i.ytimg.com/vi/XAwU3Lyn--U/maxresdefault.jpg');
background-repeat: no-repeat;
background-size: cover;
height: 550px;
    }
  
    .feature-2 {
        background-color:  #2e79ba;
    }
  
    .feature-3 {
        background-color:#1e549f;
    }
  }

  .video{
    text-align: center;
  }


/*dropdown*/
  nav {
    margin: 100px auto; 
    text-align: center;
    font-size: large;
  }
  
  nav ul {
    margin-left: 0;
    padding-left: 0;
    width: 500px;
    list-style: none;
    position: relative;
    display: inline-table;
  }
  
  nav ul ul {
    display: none;
  }
  
  nav ul li:hover > ul {
    display: block;
  }
  
  nav ul li {
    float: left;
    width: 500px;
    text-align: left;
    border-bottom: 3px solid white; 
  }
    
  nav ul li:hover {
    background: #f2f2f2;
  }
  
  nav ul li a {
    display: block; 
    padding: 15px 10px;
    color: white; 
    text-decoration: none;
  }
            
  nav ul ul {
    border-radius: 0px; 
    padding: 0;
    position: absolute; 
    top: 100%;
  }
  
  nav ul ul li {
    float: none;
    border-bottom: 2px solid #eaeaea; 
    position: relative;
  }
  
  nav ul ul li a {
    padding: 15px 10px;
    color: #838383;
  } 
  
  nav ul ul li a:hover {
    background: #1e549f;
    color: #fff;
  } 
  
  #down-triangle {
    float: right;
    width: 0; 
     height: 0;
     margin-top: 10px;
     border-top: 10px solid #2e79ba;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
  }
  
  .circle {
    float: right;
    display: inline;
    width: 10px;
     height: 10px; 
     margin-top: 5px;
    border: 3px solid #5995DA
    
  }
  

  